<div class="main-container">
  <div class="sidebar">
    <app-user-list (chatSelected)="openChat($event)"></app-user-list>
  </div>
  <div class="chat-container">
    <div class="chat-banner">
      <button class="chat-name-button" (click)="navigateToInfo()">{{ chatName }}</button>
      <button class="auth-button" (click)="logout()">Logout</button>
    </div>
    <div class="messages" #scrollMe>
      <div *ngFor="let message of messages" [ngClass]="{'my-message': message.sender === currentUserId, 'other-message': message.sender !== currentUserId}" class="message">
        <div class="message-details">
          <span class="message-sender" *ngIf="message.sender !== currentUserId">{{ message.senderUsername }}</span>
          <p class="message-content">{{ message.content }}</p>
          <span class="message-time">{{ message.timestamp | date:'short' }}</span>
        </div>
      </div>
    </div>
    <div class="input-area">
      <input [(ngModel)]="newMessage" placeholder="Type a message..." type="text" (keydown.enter)="sendMessage()"/>
      <button class="chat-button-icon" (click)="sendMessage()" [disabled]="!newMessage.trim()">
        <img class="icon-link" ngSrc="assets/icons/paper-plane-top.png" alt="Send" height="128" width="128">
      </button>
    </div>
  </div>
</div>
