.messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
  height: calc(100vh - 80px);
}

.message {
  max-width: 80%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 8px;
  line-height: 1.6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
  font-size: 1rem;
}

.my-message {
  align-self: flex-end;
  background-color: #7cbbff;
  border-bottom-right-radius: 2px;
}

.other-message {
  align-self: flex-start;
  background-color: #fff;
  border-bottom-left-radius: 2px;
}

.message-details {
  display: flex;
  flex-direction: column;
}

.message-sender {
  font-size: 0.875rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.message-content {
  font-size: 1rem;
  color: #000;
  margin-bottom: 5px;
}

.message-time {
  font-size: 0.75rem;
  color: #666;
}

.input-area {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #f0f0f0;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}

.input-area input {
  flex-grow: 1;
  margin-right: 10px;
}

