<div class="main-container">
  <div class="sidebar">
    <app-user-list (chatSelected)="openChat($event)"></app-user-list>
  </div>
  <div class="settings-container">
    <div class="chat-banner">
      <button class="back-button-icon" (click)="goBack()">
        <img class="icon-link" src="assets/icons/angle-left.png" alt="<">
      </button>
      <h2>Edit Profile</h2>
    </div>
    <div *ngIf="user; else loading" class="user-details">
      <div class="profile-img-container">
        <div class="image-edit-overlay" (click)="triggerFileInput()">
          <img class="profile-img" [src]="profileImageUrl || 'assets/icons/user.png'" alt="Profile Image">
          <div class="edit-overlay">
            <span>Edit</span>
          </div>
        </div>
        <input id="profileImage" type="file" (change)="onFileChange($event)" #fileInput style="display: none;">
      </div>
      <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" class="profile-form">
        <div class="form-group">
          <label for="username">Username:</label>
          </div>
          <div class="form-group">
          <input id="username" formControlName="username" type="text" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
        </div>
        <div class="form-group">
        <input id="email" formControlName="email" type="email" required>
        </div>
        <button class="auth-button" [disabled]="!profileForm.valid">Save</button>
      </form>
      <hr class="divider">
      <button class="auth-button delete-button" (click)="deleteUser()">Delete Account</button>
    </div>
    <ng-template #loading><p>Loading...</p></ng-template>
  </div>
</div>
