<div class="main-container">
  <div class="sidebar">
    <app-user-list (chatSelected)="openChat($event)"></app-user-list>
  </div>
  <div class="chat-details-container">
    <div class="chat-banner">
      <button class="chat-button" (click)="goBack()"><</button>
      <h2>{{ chat.name }}</h2>
    </div>
    <div *ngIf="chat; else loading">
      <div class="members-header">
        <h4>Members</h4>
        <button class="add-member-button" (click)="openAddMemberDialog()">+</button>
      </div>
      <ul class="members-list">
        <li *ngFor="let member of members" class="member-item">
          <img class="profile-img" [src]="getMemberImage(member.fotoPerfil)" alt="Profile Image">
          <a [routerLink]="['/user-info', member.id]">{{ member.username }}</a>
          <button class="delete-chat-button" (click)="removeChatMember(member.id)">X</button>
        </li>
      </ul>
    </div>
    <ng-template #loading><p>Loading...</p></ng-template>
  </div>
</div>
