.members-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.members-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.members-header h4 {
  font-size: 1.25rem;
  margin: 0;
  text-align: center;
}

.member-item {
  width: 60%;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #007BFF;
  text-decoration: none; /* Removes underline */
}

a:hover {
  text-decoration: underline; /* Adds underline on hover */
}

.delete-chat-button, .add-member-button {
  width: 30px;
  height: 30px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-chat-button:hover, .add-member-button:hover {
  background-color: #0056b3;
}
