.members-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.members-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.members-header h4 {
  font-size: 1.25rem;
  margin: 0;
  text-align: center;
  padding-right: 10px;
}

.member-item {
  width: 60%;
  background-color: #f1f1f1;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #007BFF;
  text-decoration: none;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

.user-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-details p {
  width: 100%;
  max-width: 600px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  text-align: left;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: #007BFF 1px solid;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
