<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Enter New Password</h2>
          <form (ngSubmit)="changePassword()">
            <div class="mb-3">
              <input type="password" [(ngModel)]="newPassword" name="newPassword" class="form-control" placeholder="New Password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Update Password</button>
          </form>
          <div *ngIf="successMessage" class="alert alert-success mt-3">{{ successMessage }}</div>
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
