.landing-container {
  text-align: center;
  margin-top: 150px;
}

.landing-container h1 {
  font-size: 40px;
  color: #333;
}

.landing-container p {
  color: #555;
  font-size: 18px;
}

.actions button {
  margin: 10px;
}

.logo {
  width: 200px;
  height: 200px;
  margin: 20px;
  padding-bottom: 20px;
}
