.landing-container {
  text-align: center;
  margin-top: 50px;
}

.landing-container h1 {
  color: #333;
}

.landing-container p {
  color: #555;
  font-size: 18px;
}

.actions button {
  margin: 10px;
}
