.container {
  margin: 100px auto;
}

.card {
  border-radius: 10px;
}

.card-body {
  padding: 20px;
}

.card-title {
  margin-bottom: 20px;
}

button[type="submit"] {
  width: 100%;
}

p.text-center {
  margin-top: 20px;
}
