.chat-list-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.create-chat-button {
  background: #007BFF;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  height: 70px;
  z-index: 1;
}

.create-chat-button:hover {
  border: #7cbbff 2px solid;
  height: 65px;
}

.chat-list-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 10px;
}

.chat-list {
  padding: 0;
}

.chat-item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-bottom: #9fc5e4 1px solid;
}

.chat-item:hover {
  background-color: #dae7f6;
}

.chat-title {
  font-size: 18px;
  color: #333;
}

.chat-info {
  font-size: 14px;
  color: #666;
}
