<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Create New Chat</h5>
      <button type="button" class="button-icon" aria-label="Close" (click)="onCancel()">
        <img src="assets/icons/cross-circle.png" alt="Close" height="24" width="24">
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search users..." #searchInput (input)="searchInput$.next(searchInput.value)">
        <button type="button" class="button-icon" (click)="clearSearchInput()">
          <img src="assets/icons/cross-small.png" alt="Clear" height="24" width="24">
        </button>
      </div>
      <ul class="list-group searched-users mb-3">
        <li *ngFor="let user of searchedUsers" class="list-group-item" (click)="addUser(user, $event)">
          {{ user.username }}
        </li>
      </ul>
      <h6 class="label">Selected Members:</h6>
      <ul class="list-group selected-users mb-3">
        <li *ngFor="let user of selectedUsers" class="list-group-item" (click)="removeUser(user)">
          {{ user.username }}
        </li>
      </ul>
      <div class="form-group">
        <label for="chatName" class="label">Chat Name:</label>
        <input id="chatName" [(ngModel)]="chatName" name="chatName" class="form-control" [disabled]="selectedUsers.length < 1 || selectedUsers.length === 1" required>
      </div>
    </div>
    <div class="modal-footer">
      <form (ngSubmit)="createChat()" class="form-full-width">
        <button type="submit" class="auth-button" [disabled]="selectedUsers.length < 1">Create Chat</button>
      </form>
    </div>
  </div>
</div>
