<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Create New Chat</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="onCancel()">X</button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search users..." #searchInput (input)="searchInput">
        <button type="button" class="btn btn-secondary clear-search-btn" (click)="clearSearchInput()">Clear</button>
      </div>
      <ul class="list-group searched-users mb-3">
        <li *ngFor="let user of searchedUsers" class="list-group-item" (click)="addUser(user, $event)">
          {{ user.username }}
        </li>
      </ul>
      <h6 class="label">Selected Members:</h6>
      <ul class="list-group selected-users mb-3">
        <li *ngFor="let user of selectedUsers" class="list-group-item" (click)="removeUser(user)">
          {{ user.username }}
        </li>
      </ul>
      <form (ngSubmit)="createChat()">
        <div class="form-group">
          <label for="chatName" class="label">Chat Name:</label>
          <input id="chatName" [(ngModel)]="chatName" name="chatName" class="form-control" [disabled]="selectedUsers.length < 1 || selectedUsers.length === 1" required>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="selectedUsers.length < 1">Create Chat</button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
