body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/*region General containers*/
.container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 30%;
  border-right: 1px solid #ccc;
  background-color: #fff;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  position: relative;
  z-index: 2;
}
/*endregion*/

/*region Button*/
button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/*endregion*/

input[type="text"], input[type="password"], input[type="email"], .form-control {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.chat-container {
  flex-grow: 1;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-container, .user-info-container, .chat-details-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow-y: auto;
}

/*region Banner*/
.chat-banner {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 70px;
}

.chat-banner h2, .chat-banner .chat-name-button {
  margin: 0;
  flex-grow: 1;
  text-align: center;
  font-size: 1.25rem;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
}

.chat-banner .chat-name-button:hover {
  text-decoration: underline;
}

.chat-banner .chat-button {
  position: absolute;
  left: 10px;
}

.chat-banner .logout-button {
  position: absolute;
  right: 10px;
}
/*endregion*/

/*region Icon buttons*/
.icon-link {
  width: 40px;
  height: 40px;
  font-size: 24px;
  margin: 0 10px;
}

.button-icon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-icon img {
  width: 100%;
  height: auto;
  display: block;
}

.button-icon:hover {
  border-radius: 50%;
  border: #7cbbff 1px solid;
}
/*endregion*/

.auth-button {
  background-color: #007BFF;
  padding: 10px 20px;
  min-width: 100px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.auth-button:hover {
  height: 95%;
  border: #7cbbff 2px solid;
}

/*region Modal*/
.modal-dialog {
  max-width: 400px;
  min-height: 500px;
  max-height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-header, modal-footer {
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-color: #ccc;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.modal-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-body {
  padding: 20px;
  color: #666;
  overflow-y: auto;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: normal;
}

.form-control {
  border-radius: 4px;
  font-size: 1rem;
  font-weight: normal;
}

.form-group {
  display: flex;
  align-items: center;
}

.searched-users,
.selected-users {
  max-height: 85px;
  overflow-y: auto;
}

.searched-users li,
.selected-users li {
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1rem;
  font-weight: normal;
}
/*endregion*/

/*region List Group Item*/
.list-group-item {
  margin-bottom: 5px;
  background-color: #f7f7f7;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.list-group-item:hover {
  background-color: #dae7f6;
}
/*endregion*/

