<router-outlet>
<div class="main-container">
  <div class="user-info-container">
    <div class="chat-banner">
      <button class="chat-button" (click)="goBack()"><</button>
      <h2>{{ user.username }}</h2>
    </div>
    <div *ngIf="user; else loading" class="user-details">
      <img class="profile-img" [src]="getMemberImage(user.fotoPerfil)" alt="Profile Image">
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Status:</strong> {{ user.status || "INACTIVE" }}</p>
    </div>
    <ng-template #loading><p>Loading...</p></ng-template>
  </div>
</div>
</router-outlet>
